// Globals
$body-font-family: 'Nunito', sans-serif;
$border-radius-root: 6px;
// $font-size-root: 14px;

$parallax-padding: 0 0 !default;

$tabs-bar-background-color: var(--v-secondary-base);

$material-light: (
  'color': var(--v-primary-darken3),
  'background': var(--v-secondary-base)
);
